/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary: #0027ff;
  --color-white: #ffffff;
  --color-stroke: #cecece;
  --color-body: #808080;
  --color-black: #22232e;
  --color-grey: #f7f7f7;
  --color-red: #ff3a3a;
  --color-yellow: #ffc225;
  --color-green: #30bf19;
  --button-hoover: #414253;
  --range-slider-bg: #f7f7f7;
  --strenght-bar-default: #e2e2e2;
  --canvas: #ecedef;
}
