@import '/src/global-styles/style.scss';

.strenghtMeterContainer {
  padding: 18px 24px;
  margin-top: 24px;
  background-color: var(--color-grey);
  border-radius: 12px;

  .strenghtMeterHeader {
    @include flex(space-between, center, row);
    flex-wrap: nowrap;
  }
  .strenghtMeter {
    @include flex(center, center, row);
    gap: 7px;
    margin-top: 16px;
  }
}
