@import '/src/global-styles/style.scss';

.options {
  margin-top: 32px;

  @media (max-width: 834px) {
    @include flex(flex-start, center, row);
    margin-top: 24px;
    gap: 80px;

    .optionsWrapper2,
    .optionsWrapper1 {
      @include flex(center, flex-start, column);
      gap: 14px;
    }
  }

  @media (max-width: 475px) {
    @include flex(flex-start, flex-start, column);
    gap: 14px;
  }
}
